<a href="https://colab.research.google.com/github/holoS15/CSI_6_ARI_2122_CW2_3605631/blob/main/ARI_CW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Exploration

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/content/CSI_6_ARI_CW_2_04.csv')
df.head()

,Gender,CustomerType,Age,TypeOfTravel,Class,FlightDistance,InflightWifiService,DepartureArrivalTimeConvenient,EaseOfOnlineBooking,GateLocation,...,InflightEntertainment,OnboardService,LegRoomService,BaggageHandling,CheckinService,InflightService,Cleanliness,DepartureDelayInMinutes,ArrivalDelayInMinutes,satisfaction
0,Male,Loyal Customer,38,Business travel,Business,305,2,3,2,2,...,5,5,4,5,5,5,4,0,0.0,satisfied
1,Female,Loyal Customer,60,Personal Travel,Eco,853,4,4,4,2,...,3,3,4,2,5,3,3,11,7.0,neutral or dissatisfied
2,Male,Loyal Customer,40,Business travel,Business,1881,2,2,2,2,...,4,4,4,4,3,4,5,13,8.0,satisfied
3,Male,Loyal Customer,74,Business travel,Business,3310,4,4,4,4,...,5,5,5,5,4,5,1,0,0.0,satisfied
4,Female,Loyal Customer,56,Business travel,Eco,359,4,4,4,4,...,4,4,4,4,4,4,3,0,0.0,neutral or dissatisfied

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          10000 non-null  object
 1   CustomerType                    10000 non-null  object
 2   Age                             10000 non-null  int64
 3   TypeOfTravel                    10000 non-null  object
 4   Class                           10000 non-null  object
 5   FlightDistance                  10000 non-null  int64
 6   InflightWifiService             10000 non-null  int64
 7   DepartureArrivalTimeConvenient  10000 non-null  int64
 8   EaseOfOnlineBooking             10000 non-null  int64
 9   GateLocation                    10000 non-null  int64
 10  FoodAndDrink                    10000 non-null  int64
 11  OnlineBoarding                  10000 non-null  int64
 12  SeatComfort                     10000 non-null  int64
 13  InflightEntertainment           10000 non-null  int64
 14  OnboardService                  10000 non-null  int64
 15  LegRoomService                  10000 non-null  int64
 16  BaggageHandling                 10000 non-null  int64
 17  CheckinService                  10000 non-null  int64
 18  InflightService                 10000 non-null  int64
 19  Cleanliness                     10000 non-null  int64
 20  DepartureDelayInMinutes         10000 non-null  int64
 21  ArrivalDelayInMinutes           9973 non-null   float64
 22  satisfaction                    10000 non-null  object
dtypes: float64(1), int64(17), object(5)
memory usage: 1.8+ MB

In [5]:
df.describe()

,Age,FlightDistance,InflightWifiService,DepartureArrivalTimeConvenient,EaseOfOnlineBooking,GateLocation,FoodAndDrink,OnlineBoarding,SeatComfort,InflightEntertainment,OnboardService,LegRoomService,BaggageHandling,CheckinService,InflightService,Cleanliness,DepartureDelayInMinutes,ArrivalDelayInMinutes
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,9973.000000
mean,39.586300,1197.181200,2.707300,3.036800,2.749000,2.994700,3.227700,3.244000,3.461100,3.378300,3.378000,3.35920,3.641600,3.312900,3.664000,3.297000,14.873300,15.048531
std,15.007714,1000.448679,1.327254,1.533976,1.396995,1.278529,1.326811,1.344561,1.317141,1.330626,1.290691,1.32633,1.179868,1.251459,1.172877,1.307196,37.918779,37.953994
min,7.000000,31.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,27.000000,416.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.00000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,40.000000,851.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.00000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,51.000000,1747.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.00000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,756.000000,748.000000